<h1> this is the main page </h1>

<button class='btn'><a href='https://unsplash.com/oauth/authorize?client_id=78cd46cc136d378fcd53b6f3a7754591387e38d78dccfa52bf3563999447df99&redirect_uri=http://localhost:8080/sloogle&response_type=code&scope=public+read_user+write_user+read_photos+write_photos+write_likes+read_collections+write_collections'>Sign in with Unsplash to use this app <a></button>
