/* basic css for simple UI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#img {
  margin: 0;
  padding: 1%;
}

.center {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  display: block;
  border-bottom: 2px solid black;
  color: black;
  font-style: italic;
  font-family: cursive;
  padding: 5px;
  margin-top: 0;
}

input {
  display: block;
  margin: auto;
  width: 50%;
  height: 40px;
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}

#nav {
  height: 70px
}

p {
  text-align: center;
}

span {
  display: block;
  position: absolute;
  color: white;
  padding: 10px;
}

#imageElement:hover span {
  display: block;
}

#favorite {
  font-size: 0.5em;
  cursor: pointer;
}
.favoriteImg {
  float: right;
  text-align: center;
  margin: 0;
  margin-top: 2px;
  color: black;
  font-weight: bold;
  padding: 0 5px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  background: none;
}
.favoriteImg:hover {
  background-color: black;
  color: white;
}

.likeImg {
  float: right;
  text-align: center;
  margin:0;
  margin-top: 2px;
  margin-right: 5px;
  color: black;
  font-weight: bold;
  padding: 0 5px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  background: none;
}
.likeImg:hover {
  background-color: black;
  color: white;
}

#likesDiv {
  float: left;
  text-align: left;
  padding: 0 5px;
  font-weight: bold;
  height:30px;
  line-height: 30px;
}

#heart {
  float: left;
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1000;
}

.col-sm-3 {
  margin-top: 5%;
}

#flash {
  text-align: center;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
